* {
    box-sizing: border-box;
}

/* Body */

body {
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;

}

h1 {
    color: white;

}

/* registration form */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 28px;
    justify-content: space-around;
}

form select {
    height: 30px;
    width: 300px;
}

form select option {
    height: 20px;
    background-color: #344a72;
    color: white;

}

button {
    width: 300px;
    height: 40px;
    background-color: #344a72;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 700;
}

button:hover {
    background-color: white;
    color: #344a72;
    border: 2px solid #344a72;
}

form label {
    text-align: left;
    margin-top: 10px;
    
}

form .firstname {
    margin-top: 20px;
    text-align: left;
    
}

form input {
    height: 30px;
    width: 300px;


}



/* sign up box */

.signup-box {
    width: 360px;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 10px rgb(54, 53, 53);
}

#account {
    padding-bottom: 20px;
}

.signup-box a {
    text-decoration: none;
    color: burlywood;
}

